# Byte-compiled / cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Virtual environments
env/
venv/
*.env

# System
.DS_Store

# Data & model outputs
data/
*.csv
*.h5
*.pkl
*.joblib

# Logs
logs/
*.log

# Streamlit temp
.streamlit/

# IDE-specific
.vscode/